db.sqlite3

# ======================
# Python (Django)
# ======================
venv/
__pycache__/
*.pyc
.env

# ======================
# Node.js (Vue)
# ======================
node_modules/
dist/

# ======================
# OS / Editor
# ======================
.DS_Store
Thumbs.db
.vscode/
.idea/
